<template>
  <q-page class="row items-center justify-evenly bg-grey-9">
    <formulario-component />
    <!-- <example-component
      title="Example component"
      :todos="todos"
      :meta="meta"
    ></example-component> -->
  </q-page>
</template>

<script lang="ts">
import Vue from 'vue';

// import ExampleComponent from 'components/CompositionComponent.vue';
import FormularioComponent from 'components/Formulario.vue';
import { Todo, Meta } from 'components/models';

export default Vue.extend({
  name: 'PageIndex',
  components: { /*ExampleComponent,*/ FormularioComponent },
  data() {
    const todos: Todo[] = [
      {
        id: 1,
        content: 'ct1'
      },
      {
        id: 2,
        content: 'ct2'
      },
      {
        id: 3,
        content: 'ct3'
      },
      {
        id: 4,
        content: 'ct4'
      },
      {
        id: 5,
        content: 'ct5'
      }
    ];
    const meta: Meta = {
      totalCount: 1200
    };
    return { todos, meta };
  }
});
</script>
