<template>
  <q-card class="col-xs-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
    <q-card-section class="text-center bg-teal-9 text-white q-py-xs"
      ><span class="text-h5">Título</span></q-card-section
    >
    <q-form>
      <q-card-section>
        <q-input label="Nombre" />
      </q-card-section>
      <q-card-section>
        <q-input label="Apellido" />
      </q-card-section>
      <q-card-section>
        <q-input label="Cédula" />
      </q-card-section>
      <q-card-section>
        <q-input label="Teléfono" />
      </q-card-section>
      <q-card-section>
        <q-uploader>
<template v-slot:list="scope">
        <q-list separator>

          <q-item v-for="file in scope.files" :key="file.name">
            <q-item-section>
              <q-item-label class="full-width ellipsis">
                {{ file.name }}
              </q-item-label>

              <q-item-label caption>
                Status: {{ file.__status }}
              </q-item-label>

              <q-item-label caption>
                {{ file.__sizeLabel }} / {{ file.__progressLabel }}
              </q-item-label>
            </q-item-section>

            <q-item-section
              v-if="file.__img"
              thumbnail
              class="gt-xs"
            >
              <img :src="file.__img.src">
            </q-item-section>

            <q-item-section top side>
              <q-btn
                class="gt-xs"
                size="12px"
                flat
                dense
                round
                icon="delete"
                @click="scope.removeFile(file)"
              />
            </q-item-section>
          </q-item>

        </q-list>
      </template>
        </q-uploader>
        <!-- <q-file label="Fotografía">
          <template v-slot:prepend>
            <q-icon name="cloud_upload" @click.stop />
          </template>
          <template v-slot:append>
            <q-icon
              name="close"
              class="cursor-pointer"
              @click.stop="model = null"
            />
          </template>

          <template v-slot:hint>
            Field hint
          </template>
        </q-file> -->
      </q-card-section>
      <q-card-section>
        <q-input label="Dirección" />
      </q-card-section>
      <q-separator />
      <q-card-actions class="justify-end">
        <q-btn label="cancelar" color="danger" icon-right="cancel" />
        <q-btn label="aceptar" color="primary" icon-right="send" />
      </q-card-actions>
    </q-form>
  </q-card>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api';

export default defineComponent({
  name: 'FormularioComponent',
  setup() {
    const titulo = ref('My Form');
    return {
      titulo
    };
  }
});
</script>
